<div class="jumbotron text-center">
  <h1>Awesome stickers for car, mobile & laptop.</h1>
  <p class="lead">Awesome Stickers is your go-to source for high quality, vinyl stickers for your car, mobile phone and laptop. Our stickers are
    printed using high quality flexographic printing to get the highest quality output.</p>
  <p><a class="btn btn-large btn-success jumbotron-button" href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Explore our sticker range!</a></p>
</div>

<hr>
<ul class="thumbnails" id="hover-cap-4col">
  <li class="span3">
    <div class="thumbnail">
      <div class="caption">
        <h4>Caption Title</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
        <p><a href="#" class="btn btn-inverse" rel="tooltip" title="Preview"><i class="icon-eye-open"></i></a> <a href="#" rel="tooltip" title="Visit Website" class="btn btn-inverse"><i class="icon-share"></i></a></p>
      </div>
      <img src="http://placehold.it/600x400" alt="ALT NAME">
    </div>
    <h4>Item Name</h4>
  </li>
  ...
  weitere Elemente
  ...
</ul>

