<div class="jumbotron text-center">
  <h1>Awesome stickers for car, mobile & laptop.</h1>
  <p class="lead">Awesome Stickers is your go-to source for high quality, vinyl stickers for your car, mobile phone and laptop. Our stickers are
    printed using high quality flexographic printing to get the highest quality output.</p>
  <p><a class="btn btn-large btn-success jumbotron-button" href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Explore our sticker range!</a></p>
</div>

<hr>
<ul class="thumbnails text-center" id="hover-cap-4col">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag "awesome-stickers-front-thumb2.png" %>
    </div>
    <h4>Get a sticker deal every week!</h4>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= image_tag "awesome-stickers-front-thumb1.png" %>
    </div>
    <h4>Car stickers</h4>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= image_tag "awesome-stickers-front-thumb3.png" %>
    </div>
    <h4>Available for all phone models</h4>
  </li>

  <li class="span3">
    <div class="thumbnail">
      <%= image_tag "awesome-stickers-front-thumb4.png" %>
    </div>
    <h4>...can also be used on tabs!</h4>
  </li>
</ul>

