<h1>How to order from us?</h1>
<hr>
<p>Our ordering process is very easy, here you go:</p>
<ol>
  <li>Choose your sticker type e.g. "car sticker", "laptop skin" e.t.c</li>
  <li>Either choose from the range of stickers available or <%= link_to "tell us" %> about your custom requirement</li>
  <li>Tell us how many you want</li>
  <li><span class="label">Lipa na Mpesa</span> to the paybill no: XXXXX with your phone number as the "account number"</li>
  <li>Your stickers will then be delivered to you.</li>
</ol>
<h1><small>Still having problems ordering?</small></h1>
<p>If you still experience problems ordering, kindly call a customer care rep on: 07XX XXXXXX</p>
