<h1>Our printing process <small>Flexographic printing</small></h1>
<hr>
<p>
  Flexography is a rotary relief printing process. The substrate to be printed is fed through a series of inking stations and optional laminating,
  die cutting. waste striping and 100% visual inspection stations. The printed image is achieved by means of a soft, flexible plate which
  contains the image to be printed in relief, much like a rubber stamp. The plate is adhered to a roller called the plate cylinder and placed on the press.
  Each color of ink to be applied must have its own plate and inking assembly.
</p>
